src/main/java/com/poc/soa/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="BookType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="author" type="xs:string"/>
      <xs:element name="category" type="xs:string"/>
      <xs:element name="price" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CategoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LITERATURE"/>
      <xs:enumeration value="PHILOSOPHY"/>
      <xs:enumeration value="PROGRAMMING"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

